* {
  font-family: Inter, sans-serif;
  user-select: none;
}

img {
  pointer-events: none;
}

a {
  text-decoration: none;
}

html,
body {
  margin: 0;
}

main {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 0;
}