.app {
  font-family: Inter, sans-serif;
}

.puzzleContainer {
  height: 100%;
}

.gameContainer {
  position: relative;
}

.playArea {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

.currentClue {
  padding-bottom: 10px;
}

.gridContainer,
.cluesContainer {
  //width: 49%;
  //height: 100%;
  width: min-content;
}

.gridContainer {
  padding: 20px;
}

/*
Desired wrapping behavior achieved via
https://stackoverflow.com/questions/43680242/set-wrapping-priority-between-primary-and-nested-flex-containers
*/
.cluesContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 0;
  //overscroll-behavior: contain;
}

.headerContainer {
  margin-bottom: 20px;
  margin-top: 20px;
}
