.headerContainer {
  width: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-width: 1px 0;
  align-items: center;
  display: flex;
  padding: 16px 32px;
  top: 0;
  z-index: 21;
  background-color: white;
  justify-content: space-between;
  flex: 0 1 auto;
}

img {
  display: inline-block;
  height: 32px;
  width: auto;
}

@media (max-width: 600px) {
  img {
    height: 25px;
  }
  svg {
    height: 25px;
  }
}