.headerContainer {
  width: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-width: 1px 0;
  align-items: center;
  display: flex;
  padding: 16px 32px;
  top: 0;
  z-index: 21;
  background-color: white;
  justify-content: space-between;
  flex: 0 1 auto;
}

img, svg {
  height: 32px;
}

.nav_link {
  font-size: 22px;
  font-weight: 500;
  color: black;
  transition-duration: 150ms;
}

.nav_link:hover {
  color: #0a58a7;
}

@media (max-width: 600px) {
  .headerContainer {
    padding: 12px 32px;
  }

  img {
    height: 24px;
  }
  .nav_link {
    font-size: 16px;
  }
}